*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}
#nav-bar{
    background-color: #f36868;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    position: sticky;
}
.navbar {
    background-image: linear-gradient(to right, #f36868, #eb6060);
}
.navbar .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar-toggler {
    outline:  none !important;
}
#Logo{
    width: 50ox;
    height: 50px;    
    border-radius: 55px;
}
i {
    color: #fff;
    font-size: 1.5rem;
    padding: 0 2rem;
    cursor: pointer;
    margin: 0 1rem;
}
i:hover {
    color: #2e2121;
}
img {
    width: 3.9rem;
    height: 3.3rem;
    
}

#banner{
    background-image: linear-gradient(to right, #f36868, #f74545);
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}
.banner_Title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.BannerCard{
    width: 155px;
    height: 155px;
    border-radius: 50%;
}
#banner .btn{
    background-color: #fff;
    color: #f36868;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
#LOGOTEM{
    width: 90%;
    height: 90%;
    background-image: url(../images/LOGOTEM.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#produto1{
    background-image: url(../images/Produto1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    border-radius: 5px;
}

#Cardapio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
   
}
.card{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}
.title::after{
    content: '';
    display: block;
    width: 180px;
    height: 5px;
    background-color: #f36868;
    margin: 10px auto;
}
.title::before{
    content: '';
    display: block;
    width: 180px;
    height: 5px;
    background-color: #f36868;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    #Cardapio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
    
